/*********************************************

This is the style file for this project.

**********************************************/
@import url('https://fonts.googleapis.com/css?family=Varela+Round|Chewy|Fredoka+One');

body{
  background-color: salmon;
  margin: 0px;
  overflow: hidden;
}

.floor{
  width:100%;
  height: 10%;
  border-top: thick solid black;
  z-index: -100;
  position: fixed;
  bottom: 0px;
  background-color: brown;

}

.wall{
  width:100%;
  height: 90%;
  z-index: -101;
  position: fixed;
  top: 0px;
  background-color: salmon;
}

.window{
  z-index: -100;
  position: fixed;
  top: 100px;
  left: 1250px;
}

#title{
  /* font-family: 'Fredoka One', cursive;
  font-size: 8em;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 rgba(0,0,0,0.5),
    -1px -1px 0 rgba(0,0,0,0.5),
     1px -1px 0 rgba(0,0,0,0.5),
     -1px 1px 0 rgba(0,0,0,0.5),
      1px 1px 0 rgba(0,0,0,0.5);
  text-align: center; */
  width:1250px;
  margin-top: 100px;
  margin-bottom: 50px;
}

#title img{
  display: block;
  margin: 0 auto;
  -moz-box-shadow: 6px 4px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 6px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 6px 4px 0px rgba(0,0,0,0.5);
}

.introText{
  width: 1250px;
}

#introText{
  text-align: center;
  font-size: 2em;
  font-family: 'Varela Round', sans-serif;
  width:1000px;
  margin:auto;
}

.playText{
  width: 1250px;
}

#playText{
  background-color: #39B54A;
  width: 40%;
  margin: 25px auto;
  border-radius: 50px;
  border: solid 5px black;
  text-align: center;
  font-size: 3em;
  font-family: 'Fredoka One', cursive;
}

.container{
  width:100%;
  display: grid;
  grid-gap: 0px;
  display: none;
}

.dragG1 {
  grid-column:1;
  grid-row: 1;
  width:100%;

}

.draggables{
  display: grid;
  width:100%;
}
.draggable{
  position: absolute;
  bottom: 0;
  -moz-box-shadow: 6px 4px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 6px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 6px 4px 0px rgba(0,0,0,0.5);
}

/* .dragG2 {
  grid-column:3;
  grid-row: 1;
} */

/* .draggables > div {
  margin: 0px;
  display: inline-block;
} */

.droppables {
  grid-column:2;
  grid-row: 1;
  display: grid;
  grid-auto-columns: 120px;
  grid-auto-rows: 70px;
  margin-left: 320px;
  margin-top: 80px;
  grid-gap: 10px;
}

.droppables > div {
  background-color: rgba(30, 0, 0, 0.1);
  text-align: center;
  font-size: 30px;
}

#droppable0 {
  grid-column: 1 / span 2;
  grid-row: 1/ span 4;
}
#droppable1 {
  grid-column: 3;
  grid-row: 1/ span 2;
}
#droppable2 {
  grid-column: 4 / span 3;
  grid-row: 1/ span 2;
}
#droppable3 {
  grid-column: 3 / span 2;
  grid-row: 3/ span 2;
}
#droppable4 {
  grid-column: 5 / span 2;
  grid-row: 3/ span 3;
}
#droppable5 {
  grid-column: 1 / span 4;
  grid-row: 5;
}

/* .draggables *{
  display: none;
} */

#draggable0 {
  width: 250px;
  height: 310px;
  background-color: red;
}
#draggable1 {
  width: 120px;
  height: 150px;
  background-color: orange;
}
#draggable2 {
  width: 380px;
  height: 150px;
  background-color: yellow;
}
#draggable3 {
  width: 250px;
  height: 150px;
  background-color: green;
}
#draggable4 {
  width: 250px;
  height: 230px;
  background-color: blue;
}
#draggable5 {
  width: 510px;
  height: 70px;
  background-color: purple;
}
